node_modules/
**/*/node_modules/

**/*/dist/
**/*/build/
dist/
build/
lib/

*.tgz

package-lock.json
/**/*/package-lock.json

coverage/
**/*/generated
**/*/report

test/demo/localtest/build_config.json
